.transaction-type-form__header {
  font-size: 28px !important;
}

.transaction-type-form__content {
  margin: auto;
  margin-bottom: 30px;
  max-width: 750px;
}

.transaction-type-form__content > form {
  margin-bottom: 50px;
}

.transaction-type-form__submit-btn {
  display: block !important;
}